<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ossUtil" class="cn.iruier.core.oss.OSSUtil" >
        <constructor-arg name="accessKeyId" value="***"></constructor-arg>
        <constructor-arg name="accessKeySecret" value="***"></constructor-arg>
        <constructor-arg name="bucketName" value="***"></constructor-arg>
        <constructor-arg name="endpoint" value="http://oss-cn-beijing.aliyuncs.com"></constructor-arg>
    </bean>
</beans>
