<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>我要借款</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet">
    <link rel="stylesheet" href="css/newstyle.css"/>
    <link rel="stylesheet" href="css/user.css"/>
    <script type="text/javascript" src="script/jquery.min.js"></script>
    <script type="text/javascript" src="script/common.js"></script>
    <script type="text/javascript" src="script/vue.js"></script>
    <script type="text/javascript" src="script/borrow.js"></script>
    <style type="text/css">
        .my-list-group li {
            list-style: disc inside none;
            padding: 5px 0 0 5px;
        }
    </style>
</head>
<body>
<script src="script/head.js"></script>

<div class="wrapper wbgcolor">

    <!-- 网页内容 -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">信用贷</h3>
                    </div>
                    <div class="panel-body" id="statusData" style="height: 240px">
                        <p class="text-primary mb15">
                            认证后可借金额 <i>¥  15,0000.00</i>
                        </p>
                        <h4>申请条件</h4>
                        <ul class="my-list-group">
                            <li v-if="sdata.infoStatus != 2">
                                    <a href="/real_auth.html">填写基本资料</a>
                                    <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                            </li>
                            <li v-if="sdata.infoStatus == 2">
                                填写基本资料
                                <span class="glyphicon glyphicon-ok" style="color:green;"></span>
                            </li>
                            <li v-if="sdata.infoStatus != 2">
                                <a href="/real_auth.html">身份认证</a>
                                <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                            </li>
                            <li v-else="sdata.infoStatus == 2">
                                身份认证<span class="glyphicon glyphicon-ok" style="color:green;"></span>
                            </li>
                            <li v-if="sdata.score < 70">
                                <a href="/user_file.html">材料认证分数达到70分</a>
                                <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                            </li>
                            <li v-else="sdata.score >= 70">
                                材料认证分数达到{{sdata.score}}分<span class="glyphicon glyphicon-ok" style="color:green;">
                                </span>
                            </li>
                            <li>视频认证
                                <span class="glyphicon glyphicon-ok" style="color:green;"></span>
                            </li>
                            <div class="text-center" style="margin-top: 15px" v-if="sdata.riskStatus == 1">
                                <a href="borrow_apply.html" class="btn btn-primary">
                                    申请贷款
                                </a>
                            </div>

                            <div class="text-center" style="margin-top: 15px" v-if="sdata.riskStatus == 0">
                                <a disabled class="btn btn-primary">
                                    请先认证信息
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">车易贷</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-primary mb15">
                            认证后可借金额 <i>¥ 10,000.00</i>
                        </p>
                        <h4>申请条件</h4>
                        <ul class="my-list-group">
                            <li>填写基本资料</li>
                            <li>身份认证</li>
                            <li>材料认证分数达到30分</li>
                            <li>提交车辆抵押相关资料</li>
                            <li>视频认证</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">
                                申请贷款
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">房易贷</h3>
                    </div>
                    <div class="panel-body">
                        <p class="text-primary mb15">
                            可借金额 <i>¥ 10,0000.00</i>
                        </p>
                        <ul class="my-list-group">
                            <li>填写基本资料</li>
                            <li>身份认证</li>
                            <li>材料认证分数达到50分</li>
                            <li>提交房屋抵押相关资料</li>
                            <li>视频认证</li>
                        </ul>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">
                                申请贷款
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="script/foot.js"></script>
</body>
</html>
