<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>91Money平台</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="script/webuploader-0.1.5/webuploader.css">

    <link rel="stylesheet" type="text/css" href="css/user.css"/>
    <script type="text/javascript" src="script/jquery.min.js"></script>
    <script type="text/javascript" src="script/jquery.form.js"></script>
    <script type="text/javascript" src="script/webuploader-0.1.5/webuploader.min.js"></script>
    <script type="text/javascript" src="script/vue.js"></script>
    <script type="text/javascript" src="script/common.js"></script>
    <script type="text/javascript" src="script/layer/layer.js"></script>
    <script type="text/javascript" src="script/user.js"></script>
    <script type="text/javascript" src="script/userFile.js"></script>

    <style>
        .file-item.thumbnail, .file-item.thumbnail image {
            width: 300px;
            height: 240px;
        }

        .upload-state-done {
            border: #0fa24e 3px dashed;
            background-color: rgba(16, 253, 107, 0.16);
        }

        #uploader-demo {
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<script src="script/head.js"></script>
<!--个人中心-->
<div class="wrapper wbgcolor">
    <div class="w1200 personal">
        <div class="credit-ad"><img src="images/clist1.jpg" width="1200" height="96"></div>

        <script src="script/nav.js"></script>

        <div class="personal-main">
            <div class=" panel panel-default">
                <div class="panel-heading">风控资料</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6" id="riskInfo">
                            <div class="thumbnail col-md-6" v-for="risk in risks">
                                <img v-bind:src="risk.imgUrl"/>
                                <div class="caption">
                                    <h3 style="font-weight: bold" align="center" v-if="risk.type == 1">房产证</h3>
                                    <h4 style="font-weight: bold" align="center" v-else-if="risk.type == 2">车</h4>
                                    <h4 style="font-weight: bold" align="center" v-else-if="risk.type == 3">股票</h4>
                                    <h4 style="font-weight: bold" align="center" v-else-if="risk.type == 4">保单</h4>
                                    <h4 style="font-weight: bold" align="center" v-else="risk.type == 5">工作证明</h4>
                                    <br/>
                                    <h3 align="center" style="font-weight: bold">得分：{{risk.score}} &nbsp;&nbsp;状态：{{risk.status == 0 ? "未审核" : "已审核"}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--dom结构部分-->
                    <form id="form">
                        <div class="form-group">
                            <label class="control-label">
                                资料类型
                            </label>
                            <div style="width: 200px; margin-left: 60px; margin-top: -30px">
                                <select class="form-control" id="type" name="type">
                                    <option value="0">--可选择多个依次上传--</option>
                                    <option value="1">房产证</option>
                                    <option value="2">车</option>
                                    <option value="3">股票</option>
                                    <option value="4">保单</option>
                                    <option value="5">工作证明</option>
                                </select>
                            </div>
                        </div>
                        <div id="uploader-demo">
                            <!--用来存放item-->
                            <div id="fileList" class="uploader-list"></div>
                            <div id="filePicker">上传风控资料</div>

                        </div>
                        <div id="saveBtn" style="margin-left: 150px;margin-top: -55px;position: absolute;z-index: 1">
                            <button id="save" type="button" disabled class="btn btn-success" style="height: 40px;cursor: pointer;">确认提交
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>

<script src="script/foot.js"></script>
</body>
</html>
