<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.iruier.mapper.admin.SysUserMapper">

    <sql id="base">
        user_id, username, password, email, mobile, status, create_user_id, create_time
    </sql>

    <insert id="insert" parameterType="SysUser">
        insert into sys_user (username, password,email, mobile, status,create_user_id, create_time)
        values (#{username}, #{password}, #{email}, #{mobile}, 1,#{create_user_id}, now())
    </insert>

    <select id="queryByName" resultType="SysUser">
        select <include refid="base"/> from sys_user where username = #{username}
    </select>

    <select id="queryById" resultType="SysUser">
        select <include refid="base"/> from sys_user where user_id = #{user_id}
    </select>

    <select id="queryByPage" resultMap="ur">
        SELECT su.*,ur.`role_id` FROM sys_user su LEFT JOIN sys_user_role ur ON su.user_id = ur.`user_id` limit #{index}, #{size}
    </select>

    <update id="deleteBatch">
        update sys_user set status = 2 where user_id in
        <foreach collection="array" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="queryCount" resultType="Integer">
        select COUNT(*) from sys_user
    </select>

    <resultMap id="ur" type="SysUser">
        <id property="user_id" column="user_id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="email" column="email"></result>
        <result property="mobile" column="mobile"></result>
        <result property="status" column="status"></result>
        <result property="create_user_id" column="create_user_id"></result>
        <result property="create_time" column="create_time"></result>
        <collection property="roleIdList" ofType="SysRole">
            <id property="role_id" column="role_id"></id>
        </collection>
    </resultMap>
</mapper>